body {
    background-color: #44546A;
    color: white;
}
.title {
    width: 100%;
    font-size: 90px;
    text-align: center;
    margin-bottom: 20px;
}
#main {
    min-height: 65%;
    width: 90%;
    background-color: #5B9BD5;
    margin: auto;
    padding-bottom: 1%;
    border-radius: 60px;
}
#message {
    margin: 25% auto;
}