body {
    background-color: #44546A;
    color: white;
}
h1 {
    width: 100%;
    text-align: center;
}
#main {
    height: 65%;
    width: 90%;
    background-color: #5B9BD5;
    margin: auto;
    padding: 70% auto;
}