body {
    background-color: #44546A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    width: 100%;
    font-size: 90px;
    text-align: center;
}
#main {
    min-height: 32em;
    width: 90%;
    background-color: #5B9BD5;
    margin: auto;
    border-radius: 60px;
}
img {
    float: left;
    width: 50%;
    margin: 15% auto;
}
#message {
    float: right;
    padding: 20% 0;
    padding-right: 5%;
    text-align: center;
    width: 45%;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px
}